body {
    background-color: rgb(201, 201, 201);
    height: fit-content;
}

.background-image {
    background-image: url(/images/Fond_restart_page.png);
    background-image: url(/images/wbep/Fond_restart_pagewebp.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title{
    text-align: center;
    margin-top: 10vw;
    font-size: 100px;
    color: aliceblue;
}

.img-progres {
    position: absolute;
    top: 40px; /* Ajustez la valeur pour déplacer l'image vers le bas */
    left: 45px; /* Ajustez la valeur pour déplacer l'image vers la droite */
}


.text{
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center; /* Alignement central */
    margin-top: 75px;
    margin-left: 50px;
    margin-right: 50px;
}

.text2{
    margin-top: 90px;
}

.text3{
    margin-top: 30px;
}

.textpopup{
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
}

.soulignement{
    text-decoration: underline;
    cursor: pointer; 
}

.titlepage{
    font-family: 'Arapey', sans-serif;
    text-align: center;
    font-size: 36px;
    color: rgb(255, 168, 0);
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
}

.titlepage2{
    margin: 88px auto 0 auto;
}

.logo {
    display: block;
    margin: 200px auto 0 auto; 
    width: 197px; /* Largeur spécifiée */
    height: 47px; /* Hauteur spécifiée */
}

.logo2 {
    display: block;
    margin: 200px auto 0 auto; 
    width: 197px; /* Largeur spécifiée */
    height: 47px; /* Hauteur spécifiée */
}

.puzzle1 {
    display: block;
    margin: 40px auto 0 auto; 
    width: 333px; /* Largeur spécifiée */
    height: 254px; /* Hauteur spécifiée */
    border: solid;
    color: rgb(255, 168, 0);
}

.puzzle2 {
    display: block;
    margin: 40px auto 0 auto; 
    width: 212px; /* Largeur spécifiée */
    height: 257px; /* Hauteur spécifiée */
    border-radius: 40% 40% 0 0;
    border: 2.5px solid rgb(255, 168, 0);
}

.puzzle3 {
    display: block;
    margin: 40px auto 0 auto; 
    width: 202px;
    height: 270px;
    border-radius: 50%;
    border: 3.5px solid rgb(255, 168, 0);
}


.item1 {
    display: block;
    margin: 40px auto 0 auto; 
    width: 250px; /* Largeur spécifiée */
    height: 250px; /* Hauteur spécifiée */
    object-fit: cover;
}

.item2 {
    display: block;
    margin: 40px auto 0 auto; 
    width: 330px; /* Largeur spécifiée */
    height: 84.57px; /* Hauteur spécifiée */
    object-fit: cover;
}

.bouton {
    display: flex;
    justify-content: center;
    align-items: end;
    cursor: pointer;
    color: white;
    background-color: transparent;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 21px;
    padding-bottom: 21px;
    border: 2px solid #FFA800;
    margin-left: 30vw;
    margin-right: 30vw;
}

.bouton:active{
    background-color: #FFA800;
}

#codeInput {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    border: 2px solid #000; 
    border-radius: 5px; 
    outline: none; 
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #000; 
    color: #fff;
    border-radius: 5px; 
    border: 2px solid #FFA800;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #444;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 60px;
    }

    #codeInput {
        font-size: 16px;
    }

    button {
        font-size: 16px;
    }
}

.container {
    position: relative;
    width: 329px; /* Ajustez la largeur*/
    height: 215px; /* Ajustez la hauteur*/
    left: 40px;
}

.nettoyage {
    position : absolute;
    width: 329px; /* Ajustez la largeur*/
    height: 215px; /* Ajustez la hauteur*/
}

.outils {
    width: 85px; /* Ajustez la largeur*/
    height: 85px; /* Ajustez la hauteur*/
    margin-left: 15px;
    border: 2px solid rgba(255, 255, 255, 0.5); /* Bordure blanche semi-transparente par défaut */
    transition: border-color 0.3s ease; /* Transition pour une animation fluide de la couleur de la bordure */
}

.outils.selected {
    border-color: rgb(255, 168, 0); /* Couleur de la bordure orange lors de la sélection */
}
